@media  (max-width: 992px){

    .header {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
    }

    .landing {
    display: flex; 
    flex-direction: column;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(14, 14, 14),rgb(71, 70, 70));   
    }

    .landing-description {
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
    }

    .landing-description h2 {
        text-align: center;
        font-size: 75px;
        padding-top: 20px;
    }

    .landing img {
        height: 300px;
    }

    .about-us-principal {
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        gap: 5px ;
        margin: 4px ;
    }

    .about-us-principal img {
        height: 270px;
    }

    .about-us-question br {
        display: none;
    }
    
    .Cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 10px;
    } 
    
    









































}



