/* Responsive 992 */

@media  (max-width: 992px){

    header {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
    }

    .landing {
    display: flex; 
    flex-direction: column;
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(14, 14, 14),rgb(71, 70, 70));   
    }

    .landing-description {
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
    }

    .landing-description h2 {
        text-align: center;
        font-size: 75px;
        padding-top: 20px;
    }

    .landing img {
        height: 300px;
    }

    .about-us-principal {
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        gap: 5px ;
        margin: 4px ;
    }

    .about-us-principal img {
        height: 270px;
    }

    .about-us-question br {
        display: none;
    }
    
    .Cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 10px;
    } 
    
    
    .contact {
        background-color: #d4d4d4;
        border-radius: 1rem;
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contact-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .contact-right {
        display: flex;
        flex-direction: space-between;
        align-items: center;
        
    }
    
    
    /* Responsive 768 */

    @media (max-width: 768px) {

        header {
            gap: 20px
        }

        .search label {
            text-align: center;
        }

        .Cards {                            
            height: 500px;
            border: solid;
            border-radius: 0.2rem;
        
        .cards-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        
        .cards-top h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            font-weight: 200px;
            text-align: center;
            margin-left: 25px;
        }

        .cards-advantages {
            display: flex ;
            justify-content: space-around;
            align-items: center;
            
        }

        .cards-advantages h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 400px;
        }

        .cards-advantages img {
            display: flex ;
            justify-content: space-around;
            align-items: center;
            max-width: 150px;
            
        }







    }

    









































}



